<section class="comments" id="comment-section">
  <hr>
  {% if site.data.comments[page.slug] %}
  <!-- Existing comments -->
  <div class="comments__existing">
    {% assign all_comment_count = site.data.comments[page.slug] | size %}
    <h2>{% if all_comment_count == 1 %}One comment{% else %}{{ all_comment_count }} comments{% endif %}</h2>
    {% assign comments = site.data.comments[page.slug] | where_exp: "item", "item.reply_to == ''" %}
    {% assign comments_by_date = comments | sort: 'date' %}
    {% for comment in comments_by_date %}
      {% include comment.html email=comment.email name=comment.name url=comment.url date=comment.date message=comment.message uid=comment._id reply_to=comment.reply_to %}
    {% endfor %}
  </div>
  {% endif %}

  <!-- New comment form -->
  {% if page.commenting == 'open' %}
  <div id="respond" class="comment__new">
    {% include comment_form.html %}
  </div>
  {% endif %}
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="{{ '/assets/main.js' | relative_url }}"></script>
