{%- capture article_class %}js-comment comment{% if include.reply_to != '' %} child{% endif %}{% endcapture %}
{% assign comment_id = include.uid | prepend: 'comment-' %}
<article id="{{ comment_id }}" class="{{ article_class }}" uid="{{ include.uid }}">

  <div class="comment__author">
    <img alt="Gravatar for {{ include.name | strip_html }}" src="https://secure.gravatar.com/avatar/{{ include.email }}?s=64&amp;d=retro&amp;r=pg" srcset="https://secure.gravatar.com/avatar/{{ include.email }}?s=128&amp;d=retro&amp;r=pg 2x" class="avatar avatar-64 photo" height="64" width="64" style="padding-right:5px; padding-bottom:5px;">
    {% if include.name == site.author_short and include.email == 'd11c8125547f587477e48ac075b238b3' %}
    <a class="u-email" href="mailto:{{ site.email }}">{{ include.name | strip_html }}</a> on
    {% else %}
    {{ include.name | strip_html }} on
    {% endif %}
    <span class="comment__date anchored" data-anchor-id="{{ comment_id }}">
      {%- if include.date -%}
        {% include date.html date=include.date %}
      {%- endif -%}
    </span>
  </div>

  <div class="comment__body">
    {{ include.message | strip_html | markdownify }}
  </div>

{% if include.reply_to != '' %}
</article>
{% else %}
  <div class="comment__meta">
    <a rel="nofollow" class="comment__reply-link" onclick="return addComment.moveForm('{{ comment_id }}', 'respond', '{{ page.slug }}', '{{ include.uid }}')">↪&#xFE0E; Reply to {{ include.name }}</a>
  </div>
</article>

  {%- capture this_uid %}{{ include.uid }}{% endcapture %}
  {%- assign replies = site.data.comments[page.slug] | where_exp: 'item', 'item.reply_to == this_uid' %}
  {%- assign replies_by_date = replies | sort: 'date' %}
  {% for reply in replies_by_date %}
    {% include comment.html email=reply.email name=reply.name url=reply.url date=reply.date message=reply.message uid=reply._id reply_to=reply.reply_to %}
  {% endfor %}

  <hr style="border-top: 1px solid #ccc; background: transparent; margin-bottom: 10px;">
{% endif %}
