{% capture label_counts %}
  {%- for label in include.labels -%}
    {%- assign tagged_notes = site.notes | where_exp: "note", "note.tags contains label" -%}
    {{ site.tags[label].size | plus: tagged_notes.size }}
    {%- if forloop.last == false -%}|{%- endif -%}
  {%- endfor -%}
{% endcapture %}
{% assign label_counts_array = label_counts | split: "|" %}
{% assign sorted = label_counts_array | sort %}
{% assign min_count = sorted | first %}
{% assign max_count = sorted | last %}
{% assign interval = max_count | minus: min_count | divided_by: 4.0 %}

{% for label in include.labels %}
  {% if forloop.first != true %} • {% endif %}
  {% assign size = label_counts_array[forloop.index0] | minus: min_count | divided_by: interval | times: 3 | plus: 16 %}
  <span class="post-tag" title="Count: {{ label_counts_array[forloop.index0] }}" style="font-size: {{size}}px"><a href="/tags#{{label | slugify}}">{{label}}</a></span>
{% endfor %}
